:root {
  --primary-color: #F44336;
  --secondary-color: #4CAF50;
  --accent-color: #2196F3;
  --social-icon-color: #FFFFFF;
}




body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  height: 40px;
  width: 100%;
  background-color: var(--primary-color);
  margin: 0;
  overflow: hidden; /* Change 'auto' to 'hidden' */
}

.social-links {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.social-links li {
  list-style: none;
}

.social-links a {
  color: var(--social-icon-color);
  text-decoration: none;
  margin-left: 10px;
}

.container {
  margin: 0 auto;
  width: 820px;
}

main {
  overflow: auto;
}

.profile {
  display: flex;
  flex-direction: column;
}

.profile-card {
  width: 425px;
}

.profile-data,
.profile-body {
  width: 100%;
}
